FORMAT: 1A
HOST: http://api.candidate.blur.tech

# Кандидат

Серверная часть приложения Кандидат созданного в рамках хакатона Цифровой Прорыв

## Пользователь [/user]

### Получение логина и id [GET]


+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "id": "5d20516a74ce7f5f0c6ae514",
                "username": "MacOSO"
            }
        }

### Авторизация [POST]

+ Request 200 (application/json)

        {
            "username": "MacOSO",
            "password": "password"
        }

+ Response 200 (application/json)

        {
        "success": true,
        "data": {
            "user": {
                "id": "5d20516a74ce7f5f0c6ae514",
                "username": "MacOSO"
            },
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg"
            }
        }

### Получение данных профиля [GET/user/profile]


+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "_id": "5d20516a74ce7f5f0c6ae514",
                "username": "MacOSO",
                "geo": {
                    "city": "Новосибирск",
                    "district": "Октябрьский"
                },
                "preferences": [
                    "Дороги",
                    "Образование",
                    "Наука"
                ],
                "history": [],
                "createdAt": "2019-07-06T07:44:44.159Z",
                "updatedAt": "2019-07-06T13:23:39.012Z",
                "__v": 2
            }
        }

### Изменение данных профиля [PATCH/user/profile]


+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Request 200 (application/json)

        {
            "username": "MacOSO1"
        }

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "message": "Successful edit profile"
            }
        }

### Инициативы [/initiative]

### Получение всех инициатив [GET]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": [
                {
                    "title": "Ремонт дороги на Федосеева",
                    "geo": {
                        "city": "Новосибирск",
                        "district": "Октябрьский"
                    },
                    "voters": [
                        "5d20516a74ce7f5f0c6ae514"
                    ],
                    "_id": "5d209654562592316cdc1800",
                    "describe": "На улице Федосеева 10 после проведения сезонных мероприятий повредилось дорожное полотно, которое требует восстановления, иначе ямы начнут работать как лежачий полицейский, что в условиях крутого поворота возле школы не лучшая затея.",
                    "creator": "MacOSO",
                    "createdAt": "2019-07-06T12:38:44.345Z",
                    "updatedAt": "2019-07-06T12:38:44.345Z",
                    "__v": 0
                }
            ]
        }

### Получение инициативы по id [GET/initiative/{id}]

+ Parameters
    + `id` (string, required) - id инициативы

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": [
                {
                    "title": "Ремонт дороги на Федосеева",
                    "geo": {
                        "city": "Новосибирск",
                        "district": "Октябрьский"
                    },
                    "voters": [
                        "5d20516a74ce7f5f0c6ae514"
                    ],
                    "_id": "5d209654562592316cdc1800",
                    "describe": "На улице Федосеева 10 после проведения сезонных мероприятий повредилось дорожное полотно, которое требует восстановления, иначе ямы начнут работать как лежачий полицейский, что в условиях крутого поворота возле школы не лучшая затея.",
                    "creator": "MacOSO",
                    "createdAt": "2019-07-06T12:38:44.345Z",
                    "updatedAt": "2019-07-06T12:38:44.345Z",
                    "__v": 0
                }
            ]
        }

### Добавление инициативы [POST/initiative/create]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Request 200 (application/json)

        {"name": "Установка светофоров возле нового корпуса НГУ","describe": "Возле нового корпуса НГУ светофоры уже разваливаются от старости и частично не работают, неплохо бы было их починить.","geo": {"city": "Новосибирск","district": "Советский"}}

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "message": "Successful created new initiative"
            }
        }

### Изменение данных инициативы [PATCH/initiative/{id}]

+ Parameters
    + `id` (string, required) - id инициативы

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Request 200 (application/json)

        {"name": "Установка светофоров возле корпуса НГУ"}

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "message": "Successful edit initiative"
            }
        }

## Голосование [/swipe]

### Отдать голос [POST]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Request 200 (application/json)

        {"id": "5d209654562592316cdc1800", "vote":"Like"}

+ Response 200 (application/json)

        {
            "success": true,
            "data": {}
        }

### Следующие народные инициативы для просмотра [GET/swipe/next-swipes]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": [
            {
                "geo": {
                    "city": "Новосибирск",
                    "district": "Октябрьский"
                },
                "voters": [
                    "5d20516a74ce7f5f0c6ae514"
                ],
                "_id": "5d209654562592316cdc1800",
                "describe": "На улице Федосеева 10 после проведения сезонных мероприятий повредилось дорожное полотно, которое требует восстановления, иначе ямы начнут работать как лежачий полицейский, что в условиях крутого поворота возле школы не лучшая затея.",
                "creator": "MacOSO",
                "createdAt": "2019-07-06T12:38:44.345Z",
                "updatedAt": "2019-07-06T17:38:10.098Z",
                "__v": 0,
                "title": "Ремонт дороги на Федосеева"
            },
            {
                "geo": {
                    "city": "Новосибирск",
                    "district": "Советский"
                },
                "voters": [
                    "5d20516a74ce7f5f0c6ae514"
                ],
                "_id": "5d20b29610fe681ff8e201ea",
                "describe": "Возле нового корпуса НГУ светофоры уже разваливаются от старости и частично не работают, неплохо бы было их починить.",
                "creator": "MacOSO",
                "createdAt": "2019-07-06T14:39:18.709Z",
                "updatedAt": "2019-07-06T17:37:39.684Z",
                "__v": 0,
                "title": "Установка светофоров возле нового корпуса НГУ"
            }
            ]
        }
